/*Contact Me*/

.contact-page {
  background-image: url("../Images/ConatctUs.jpg");
  height: auto;
  min-height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 20px;
}

.contact-heading {
  position: relative;
  font-family: "Cinzel", serif;
  font-size: 4vmin;
  top: 5%;
  text-align: center;
}

.contact-divider {
  display: block;
  position: relative;
  top: 7%;
  width: 100px;
  height: 2px;
  background-color: #00b7c7;
  left: 47%;
}

.contact-form-wrapper {
  position: relative;
  padding-top: 40px;
  left: 34%;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(82, 82, 82, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: -3px -4px 29px 4px rgba(0, 0, 0, 0.75);
  width: 70vh;
  padding: 40px;
}

.contact-label {
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
}

.contact-input {
  width: 100%;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: block;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 14px;
  padding: 12px;
  color: #000000;
}

.contact-submit-btn {
  position: relative;
  background-color: #385a66;
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  padding: 15px 0;
  margin-top: 20px;
  width: 40%;
  font-weight: bold;
  text-transform: uppercase;
  transition: 1s;
  left: 30%;
}

.contact-submit-btn:hover {
  background-color: #00b7c7;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .contact-heading {
    left: -4%;
    font-size: 6vmin;
  }

  .contact-divider {
    left: 39%;
  }

  .contact-form-wrapper {
    left: 25.5%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 38vh;
  }

  .contact-input {
    width: 29vh;
  }
}
